<nav>
    <ul>
        <li><a href="/" data-toggle="tooltip" data-placement="right" title="Inicio" id="inicio"></a></li>
        <li><a href="/nosotros" data-toggle="tooltip" data-placement="right" title="Nosotros" id="nosotros"></a></li>
        <li><a href="/servicios" data-toggle="tooltip" data-placement="right" title="Servicios" id="servicios"></a></li>
        <li><a href="/portafolio" data-toggle="tooltip" data-placement="right" title="Portafolio" id="portafolio"></a></li>
        <li><a href="/contacto" data-toggle="tooltip" data-placement="right" title="Contacto" id="contacto"></a></li>
    </ul>
</nav>
<script src="/js/jquery.js"></script>
<script>
    $('nav a').on('click', function() {
        var target = this.href;
        $.get(target, function(data) {
            $('section').fadeOut().empty();
            setTimeout(function () {
                $('#' + this.id).html(data).fadeIn();
            }, 500);
        });
    });
</script>