<section id="nosotros" class="">
    <div class="row clearfix">
        <div class="col-xs-12 col-md-7">
            <h3>Ponemos nuestras habilidades<br>a la disposición de tus proyectos</h3>
            <p>Buscamos entregar un servicio y soluciones de calidad que destaquen el profesionalismo, pasión y enfoque de cada
                uno de sus integrantes, con el propósito de contribuir al desarrollo de nuestros clientes y al de la
                sociedad.</p>
        </div>
        <ul class="ch-grid col-xs-12 col-md-5 circulos">
            <li>
                <div class="ch-item ch-img-anayn">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-anayn"></div>
                            <div class="ch-info-back">
                                <h3>Anayn Pavez</h3>
                                <p>Ventas & Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-offset-6">
                <div class="ch-item ch-img-yerma">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-yerma"></div>
                            <div class="ch-info-back">
                                <h3>Yermaín Araya</h3>
                                <p>Administración</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-offset-6">
                <div class="ch-item ch-img-hernan">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-hernan"></div>
                            <div class="ch-info-back">
                                <h3>Hernán Urrutia</h3>
                                <p>Diseño</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-jose">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-jose"></div>
                            <div class="ch-info-back">
                                <h3>José Balmaceda</h3>
                                <p>Producción</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</section>