<section id="servicios">
    <h3>Qué ofrecemos</h3>
    <ul id="iconos-servicios">
        <a class="empty" href="javascript:void(0);"><li></li></a>
        <a class="empty"href="javascript:void(0);"><li></li></a>
        <a href="#">
            <li>
                <div>
                    <i class="fa fa-pencil fa-3x"></i>
                    <h4>Ilustración</h4>
                </div>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <i class="fa fa-mouse-pointer fa-3x"></i>
                    <h4>Web</h4>
                </div>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <i class="fa fa-film fa-3x"></i>
                    <h4>Multimedia</h4>
                </div>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <i class="fa fa-book fa-3x"></i>
                    <h4>Editorial</h4>
                </div>
            </li>
        </a>
        <a href="#">
            <li>
                <div>
                    <i class="fa fa-tag fa-3x"></i>
                    <h4>Branding</h4>
                </div>
            </li>
        </a>
        <a class="empty" href="javascript:void(0);"><li></li></a>
        <a class="empty" href="javascript:void(0);"><li></li></a>
    </ul>
</section>